$dark: #023147;
$medium: #257499;
$lightUI: #4d648d;
$veryLight: #d0e1f9;
$dominant1: tomato;
$dominant2: lightgreen;
$dominant3: orange;
$inactiveBackground: #054766;
$inactiveText: #0c6b97;
$correct: rgb(48, 167, 48);
$borderBasic: 5px solid $inactiveBackground;
$overlay-section-width: 90%;