//OVERLAYS - COMMON
.overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  max-width: 1024px;
  background: $dark;
  visibility: visible;
  color: $veryLight;
  margin: 0 auto;

  &.show {
    visibility: visible;
    display: flex;
  }

  &.hide {
    visibility: hidden;
    display: none;
  }
}

.overlay-header {
  width: $overlay-section-width;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: 10vh;
  max-height: 10vh;
  margin: 0 auto;
  flex: 1;
  padding-top: 1rem;
}

.overlay-title {
  @extend %flex-justify-align-center;
  justify-content: space-around;
  font-size: 2rem;
  font-weight: 700;
}

.overlay-headline {
  @extend %flex-justify-align-center;
  //padding-bottom: 0.5rem;
  padding-top: 1.5rem;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.button-placeholder-container {
  visibility: hidden;
}

.placeholder-btn {
  @extend %flex-justify-align-center;
  width: 2.2rem;
  height: 2.2rem;
  padding: 5px;
}

.overlay-hide-btn {
  @extend %flex-justify-align-center;
  border-radius: 50px;
  width: 2.2rem;
  height: 2.2rem;
  border: none;
  background: $veryLight;
  color: $dark;
  font-size: 1.5rem;
  padding: 5px;
  outline: none;
  cursor: pointer;

  &.disabled {
    background: $inactiveBackground;
    color: $inactiveText;
  }

  &.enabled {
    background: $dominant2;
    color: $dark;
  }
}

//FEEDBACK OVERLAY
#feedback-hide {
  @extend %flex-justify-align-center;
}

#feedback-main {
  flex: auto;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
  height: auto;
  width: $overlay-section-width;

  #feedback-form {
    @extend %flex-justify-align-center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;

    label {
      visibility: hidden;
    }

    #feedback-textarea {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      font-size: 1.2rem;
      min-height: 7rem;
      background: $dark;
      margin-bottom: 1rem;
      color: $veryLight;
    }

    #submit-btn {
      margin: 0 auto;
    }
  }
}