//MIN-HEIGHT: 800px
@media only screen and (min-height: 800px) {
  //DISPLAY

  //Top buttons
  .defaultBtn {
    font-size: 2rem;
  }

  //Control buttons
  %controlsBtn {
    width: 10.5rem;
    height: 3rem;
    font-size: 1.2rem;
  }

  //FEEDBACK
  #feedback-hide-btn {
    font-size: 1.5rem;
  }

  //SETTINGS
  %overlay-title {
    font-size: 3rem;
  }

  #settings-hide-btn {
    width: 2.5rem;
    height: 2.5rem;
  }
}

//MIN-HEIGHT: 1000px
@media only screen and (min-height: 1000px) {


  //SHARED
  //Top buttons
  #show-settings-btn,
  #show-feedback-btn,
  #chord-spotting-btn,
  #chord-coach-btn {
    font-size: 3rem;
  }

  //Control buttons
  %controlsBtn {
    width: 12rem;
    height: 3rem;
    font-size: 1.7rem;
  }

  //SETTINGS
  %overlay-title {
    font-size: 4rem;
  }

  #settings-hide-btn {
    width: 3rem;
    height: 3rem;
  }
}

//Small screen laptops
@media (min-width: 1280px) and (min-height: 600px) and (max-width: 1600px) and (min-height: 900px) {
  #primary-action-container {
    min-height: 25vh;
  }

  #primary-action {
    width: 8rem;
    height: 8rem;
  }

  .primary-action-button {
    padding: 0.5rem;
    font-size: 2rem;

    p {
      font-size: 1.5rem;
    }
  }

  #progress-container {
    padding: 0.5rem;
  }

  .training-status-icon {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2rem;
  }

  .chord-option {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 1.15rem;

    input {
      width: 4.5rem;
      height: 4.5rem;
    }
  }

  .overlay {
    width: 70vw;
  }
}

//IPad Pro and devices with high screen
@media (min-width: 900px) and (max-width: 1024px) and (min-height: 1200px) and (max-height: 1400px) {

  //CHORD COACH
  //Main screen
  #chord-to-play {
    font-size: 12rem;
  }

  #chord-grip-display {
    width: 12rem;
    height: 15rem;
  }

  //Settings: Chord groups
  #settings-chord-groups-buttons {}

  .chord-group {

    label {
      height: 2rem;
      padding: 1rem 1.5rem;

      .label-text {
        font-size: 1.3rem;
      }
    }

    .chord {
      padding: 4px 8px;
      margin-left: 5px;
      font-size: 1rem;
    }
  }

  //Settings: Chord individuals
  #settings-chord-indviduals-buttons {
    justify-content: center;

    .individual-chord {
      margin: 4px;
      font-size: 1.2rem;
      text-align: center;
      min-width: 70px;
    }

    label {
      height: auto;
      padding: 0.75rem 1rem;
    }
  }

  //Settings more
  .setup-btn {
    width: 10rem;
    height: 2.5rem;
    border-radius: 10px;
  }

  .setup-incr-decr-btn {
    font-size: 1.2rem;
  }

  .setup-btn-value {
    width: 3.5rem;
    font-size: 1.2rem;
  }

  .setup-btn-label {
    font-size: 1.2rem;
    padding: 0.5rem;
  }


  //CHORD SPOTTING
  .chord-option {
    width: 7rem;
    height: 7rem;
    font-size: 1.75rem;

    input {
      width: 7rem;
      height: 7rem;
    }
  }
}

//IPad, Tablets
@media (min-width: 700px) and (min-height: 1000px) {
  .controlsBtn {
    width: 13rem;
    height: 3rem;
    font-size: 1.5rem;
  }

  .overlay-title {
    font-size: 2.5rem;
  }

  .overlay-headline {
    font-size: 1.6rem;
  }

  #copyright {
    padding: 0.5rem;
    font-size: 1rem;
  }


}

//Any narrow screen
@media (max-width: 750px) {

  #chord-to-play-container {
    max-width: 90%;
    width: 90%;
  }

  #chord-and-grip-container {
    flex-direction: column;
    padding-bottom: 1rem;
  }
}

//Pixel2, Pixel2XL
@media (max-width: 450px) and (max-height: 850px) {

  //CHORD COACH
  #chord-to-play-container {
    padding: 1rem;
  }

  #chord-to-play {
    font-size: 6rem;
  }

  #chord-grip-container {
    padding: 1.25rem;
  }

  #chord-grip-display {
    width: 8rem;
    height: 10rem;
  }

  //Settings: Chord groups
  #settings-chord-groups-buttons {
    padding: 0.75rem;
    text-align: left;
  }

  .chord-group {

    label {
      height: auto;
      padding: 0.25rem 0.5rem;

      .label-text {
        font-size: 0.9rem;
        margin-right: 0.5rem;
      }
    }

    .chord {
      font-size: 0.8rem;
    }
  }

  //Settings: Chord individuals
  #settings-chord-indviduals-buttons {
    justify-content: center;
    padding: 0.5rem;

    .individual-chord {
      margin: 3px;
      font-size: 0.9rem;
      text-align: center;
    }

    label {
      height: auto;
      padding: 0.5rem 0.75rem;
    }
  }

  //Settings: More
  #settings-more-buttons {
    padding: 0.5rem;
  }

  //CHORD SPOTTING
  //Progress container
  #progress-container {
    width: 100%;
    padding: 1rem 2.5rem;
  }

  .training-status-icon {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
  }

  //Primary action
  #primary-action {
    width: 8rem;
    height: 8rem;
  }

  .primary-action-button {
    border: 0.25rem solid $veryLight;
    padding: 0.5rem;
    font-size: 2rem;

    p {
      font-size: 1rem;
    }
  }

  //Chord options
  #chord-options {
    width: 100%;
  }

  .chord-option {
    width: 4rem;
    height: 4rem;

    font-size: 1rem;

    input {
      width: 4rem;
      height: 4rem;
    }

    &.correct {
      border: 5px solid $dominant2;
    }
  }

  //UTILITIES
  //Buttons
  .defaultBtn {
    font-size: 2rem;
    padding: 0.5rem;
  }

  //OVERLAY
  //Settings: Chordselection
  .overlay-headline {
    padding-bottom: 0rem;
    font-size: 1rem;
  }

  #custom-chord-selection {
    #individual-chords {
      padding: 0.5rem 0.5rem;
    }

    .individual-chord {
      padding: 2px 4px;
      margin: 1px 1px;
      width: 3.5rem;
      height: 3.5rem;
      margin: 1% 1%;
      font-size: 1rem;
    }
  }








  //Settings: Difficulty
  #settings-difficulty-buttons {
    padding: 1rem 0.5rem;

    p {
      padding: 0.5rem;
      font-size: 0.9rem;
    }
  }
}

//Iphone 5SE, Motog G4, Galaxy S5
@media (max-width: 350px) and (max-height: 570px) {

  //CHORD COACH
  #chord-to-play-container {
    padding: 1rem;
  }

  #chord-to-play {
    font-size: 5rem;
  }

  #chord-grip-display {
    width: 8rem;
    height: 10rem;
  }

  //Chord options
  .chord-option {
    margin: 5px;
  }
}

//Chord spotting
// #custom-chord-selection #individual-chords label {
//   font-size: 0.9rem;
// }

//Galaxy fold
@media (max-width: 280px) {
  .training-status-icon {
    font-size: 1.5rem;
  }
}