//GENERAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $dark;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;

}

a {
  color: $veryLight;
  text-decoration: none;
}


a:visited {
  color: $veryLight;
}

a:active {
  color: $dominant1;
}

label {
  @extend %flex-justify-align-center;
  height: 0%;
  width: 0%;
  margin: 50%;
}


%flex-justify-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//UTILITIES
.app-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 1024px;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  flex: 1;
  @extend %flex-justify-align-center;
  flex-direction: row;
}

//BUTTONS
%defaultBtn {
  background: none;
  border: none;
  height: 100%;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: $veryLight;
  outline: none;
  cursor: pointer;

  &:hover i {
    color: $dominant2;
  }
}

.controlsBtn {
  border: none;
  outline: none;
  width: 7rem;
  height: 2rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 700;
  background: $veryLight;
  color: $dark;
  cursor: pointer;

  &.inactive {
    color: $inactiveText;
    background: $inactiveBackground;
  }

  &.confirm {
    background: $dominant2;
    color: $dark;
  }

  &.restart {
    background: $dominant1;
    color: $dark;
  }

}


//OVERLAYS
%overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  max-width: 1024px;
  background: $dark;
  visibility: vissible;
  color: $veryLight;
  margin: 0 auto;

  &.show {
    visibility: visible;
  }

  &.hide {
    visibility: hidden;
  }
}

%overlay-header {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: 10%;
  margin: 0 auto;
}

%overlay-title {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  font-weight: 700;
}

.button-placeholder {
  visibility: hidden;
}

.placeholder-btn {
  @extend %flex-justify-align-center;
  width: 2.2rem;
  height: 2.2rem;
  padding: 5px;
}

//ANIMATIONS
.animationEnabled {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.anim-pop-in-out {
  transform: scale(1.5);
}

.rotate {
  transform: rotate(360deg);
}