@import "config";
@import "reset-and-utils";

//TOP PADDING
.top-padding {
  min-height: 7.5vh;
  display: flex;
}

//BOTTOM PADDING
.bottom-padding {
  min-height: 7.5vh;
  display: flex;
}

//TOP NAV
#top-navigation {
  display: flex;
  width: 90%;
  min-height: 10vh;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

#show-feedback-btn {
  @extend %defaultBtn;
}

#show-settings-btn {
  @extend %defaultBtn;
}

//CHORD TO RECOGNIZE
#chord-to-recognize-container {
  min-height: 27.5vh;
}

#chord-to-recognize-display {
  @extend %flex-justify-align-center;
  flex-direction: column;
  padding: 0.5rem;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

#chord-to-recognize {
  @extend %flex-justify-align-center;
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 100px;
  border: 0.5rem solid $light;

  margin: 0 auto;
}

#chord-to-recognize-button {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  background: none;
  border: none;
  outline: none;
  font-size: 3rem;
  color: $light;
  cursor: pointer;
}

#progress-container {
  @extend %flex-justify-align-center;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.training-status-icon {
  @extend %flex-justify-align-center;
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  font-size: 3rem;

  i {
    padding: 0.5rem;
  }
}

#wrong-display {
  color: $dominant;
}

#remaining-display {
  color: $light;
}

#correct-display {
  color: $green;
}

//CHORD OPTIONS
#chord-options-container {
  @extend %flex-justify-align-center;
  flex-direction: row;
  min-height: 32.5vh;
}

#chord-options {
  @extend %flex-justify-align-center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  min-height: 32.5vh;
}

.chord-option {
  @extend %flex-justify-align-center;
  background: $lightUI;
  border-radius: 100px;
  padding: 2px 4px;
  margin: 1px 1px;
  width: 5rem;
  height: 5rem;
  margin: auto 2.5%;
  font-size: 3rem;
  text-align: center;
  color: $light;
  cursor: pointer;

  input {
    visibility: visible;
    opacity: 1;
    position: absolute;
  }

  &.selected {
    background: $green;
    color: $appBackground;
    border: 2px solid $lightUI;
  }
}

//CONTROLLERS
#controllers-container {
  display: flex;
  flex-direction: column;
  align-items: initial !important;
  min-height: 15vh;
}

#copyright {
  padding-top: 1.5rem;
  @extend %flex-justify-align-center;
  color: $light;
  font-size: 0.8rem;
}

#controllers-buttons {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: center;

  i {
    margin-right: 5px;
  }
}

#play-pause-btn {
  @extend %controlsBtn;
  margin-right: 2rem;
}

#confirm-btn {
  @extend %controlsBtn;
  margin-right: 2rem;
}

#restart-btn {
  @extend %controlsBtn;
}

@import "responsive";