@import "config";
@import "reset-and-utils";
@import "overlays";
@import "chord-spotting-main";
@import "chord-coach-main";
@import "chord-spotting-overlays";
@import "chord-coach-overlays";

//MAIN SCREEN - SHARED
//TOP NAV
#top-navigation {
  display: flex;
  width: 100%;
  min-height: 10vh;
  padding: 0rem 5%;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

//COPYRIGHT
#copyright {
  @extend %flex-justify-align-center;
  padding-top: 1.5rem;
  color: $veryLight;
  font-size: 0.8rem;
}

@import "responsive";